[build-system]
requires = ["setuptools>=65.5.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "command-line-file-manager"
version = "1.0.3"
description = ""
readme = "README.md"
authors = [
    { name = "Kaloyan Ivanov", email = "kaloyan.ivanov88@gmail.com" }
]

requires-python = ">=3.11"

dependencies = [
    "black == 23.9.1",
    "build == 1.0.3",
    "cachetools == 5.3.1",
    "certifi == 2023.7.22",
    "cffi == 1.16.0",
    "chardet == 5.2.0",
    "charset-normalizer == 3.3.0",
    "click == 8.1.7",
    "codespell == 2.2.6",
    "colorama == 0.4.6",
    "cryptography == 41.0.4",
    "directory-tree == 0.0.4",
    "distlib == 0.3.7",
    "docutils == 0.20.1",
    "emoji == 2.8.0",
    "filelock == 3.12.4",
    "idna == 3.4",
    "importlib-metadata == 6.8.0",
    "jaraco.classes == 3.3.0",
    "jeepney == 0.8.0",
    "keyring == 24.2.0",
    "markdown-it-py == 3.0.0",
    "mdurl == 0.1.2",
    "more-itertools == 10.1.0",
    "mypy-extensions == 1.0.0",
    "nh3 == 0.2.14",
    "packaging == 23.2",
    "pathspec == 0.11.2",
    "pkginfo == 1.9.6",
    "platformdirs == 3.11.0",
    "pluggy == 1.3.0",
    "pycparser == 2.21",
    "Pygments == 2.16.1",
    "pyproject-api == 1.6.1",
    "pyproject_hooks == 1.0.0",
    "readme-renderer == 42.0",
    "requests == 2.31.0",
    "requests-toolbelt == 1.0.0",
    "rfc3986 == 2.0.0",
    "rich == 13.6.0",
    "SecretStorage == 3.3.3",
    "tox == 4.11.3",
    "twine == 4.0.2",
    "urllib3 == 2.0.6",
    "virtualenv == 20.24.5",
    "zipp == 3.17.0",
    "pytest == 7.4.2",
    "coverage == 7.3.2",
    "pytest-cov == 4.1.0",
]

[project.scripts]
fm = "app.__main__:cli"
